:root{
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray500: hsl(0, 0%, 42%);
    --gray950: hsl(0, 0%, 7%);
    --black: #000000;

    --fuentePrincipal: "Figtree", sans-serif;
}

/* Attribution */
.attribution { font-size: 1rem; text-align: center; margin: 1.5rem 0;}
.attribution a { color: hsl(228, 45%, 44%); }

/* Global Font */
p, h1, h2, h3, h4{
    font-family: var(--fuentePrincipal);
}

/* Center content */
body{
    display: grid;
    /* min-height: 100dvh; */
    grid-template-rows: auto 1fr auto;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);
}

/* Main content */

.main{
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    max-width: 20rem;
    width: 95%;
    border: 0.1rem solid var(--black);
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: 0.5rem 0.5rem;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.principalImage{
    min-width: 95%;
    text-align: center;
    border-radius: 2rem;
}

.avatar{
    display: flex;
    align-items: center;
    gap: 2rem;
}

h2{
    font-size: 1.5rem;
    font-weight: 900;
    margin: 1rem 0;
    margin-bottom: 0.6rem;
}
h2:hover{
    color: var(--yellow);
    cursor: pointer;
}
h1{
    font-weight: 900;
    background-color: var(--yellow);
    display: inline-block;
    width: auto;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}
.publishedDate{
    margin: 0;
    font-size: 1rem;
}
.name{
    font-size: 1.2rem;
    font-weight: 900;
    text-align: left;
    margin-left: -1.5rem;
}
.info{
    font-size: 1.2rem;
    color: var(--gray500);
    /* add only margin bottom */
    margin: 0 0 1rem 0;
}